* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}
input::-webkit-input-placeholder { /* WebKit browsers */
  color: #c0c4cc;
}
input::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #c0c4cc;
}
input:-ms-input-placeholder { /* Internet Explorer 10+ */
  color: #c0c4cc;
}
.xc-th-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  border: none;
  z-index: 2;
  text-decoration: inherit;
}
.xc-th {
  position: absolute;
  border-collapse: collapse;
  box-sizing: border-box;
  border: none;
  text-decoration: inherit;
}
.xc-th-head>tr>th {
  position: relative;
  border: none;
  padding: 0;
  background: #f5f7fa;
  height: 32px;
  font-weight: inherit;
  text-decoration: inherit;
}
.horizontal-border .xc-th-head>tr>th {
  border-bottom: 1px solid #ebeef5;
}
.vertical-border .xc-th-head>tr>th {
  border-right: 1px solid #ebeef5;
}
.xc-th-cell-scrollbar {
  position: absolute;
  top: 0;
  height: 100%;
  box-sizing: content-box;
  background: inherit;
}
.horizontal-border .xc-th-cell-scrollbar {
  border-bottom: 1px solid #ebeef5;
}
.vertical-border .xc-th-cell-scrollbar {
  border-left: 1px solid #ebeef5;
}
.xc-th-cell {
  display: block;
  box-sizing: border-box;
  font: inherit;
  /* font-weight: bold; */
  color: inherit;
  vertical-align: middle;
  text-decoration: inherit;
  padding: 5px 10px;
  /* white-space:nowrap; */
  line-height: 20px;
}
.xc-th-icon-pre,
.xc-th-icon-next {
  display: none;
}
/* 单元格 */
.xc-td-box {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-y: auto;
  text-decoration: inherit;
  box-sizing: border-box;
}
.xc-td-no-data {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 14px;
  color: #666;
}
.xc-td {
  border-collapse: collapse;
  box-sizing: border-box;
  border: none;
  margin-bottom: -1px;
  text-decoration: inherit;
  background: #fff;
}
.xc-td>tbody {
  text-decoration: inherit;
}
.xc-td>tbody>tr {
  text-decoration: inherit;
}
.xc-td>tbody>tr>td {
  position: relative;
  border: none;
  padding: 5px 0;
  height: 32px;
  text-overflow: ellipsis;
  text-decoration: inherit;
}
.horizontal-border .xc-td>tbody>tr>td {
  border-bottom: 1px solid #ebeef5;
}
.vertical-border .xc-td>tbody>tr>td {
  border-right: 1px solid #ebeef5;
}
.stripe .xc-td>tbody>tr:nth-child(even)>td {
  background: #f9fafb;
}
.highlight-hover .xc-td>tbody>tr:hover>td {
  background: #F5F7FA;
}
.xc-td-cell {
  padding: 0 10px;
  box-sizing: border-box;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  overflow: hidden;
}
.xc-td-img {
  vertical-align: middle;
}
.xc-td-text {
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font: inherit;
  color: inherit;
  text-align: inherit;
  vertical-align: middle;
  text-decoration: inherit;
  line-height: 24px;
}
.xc-td-text .icon {
  font: inherit;
  color: inherit;
  text-align: inherit;
  vertical-align: middle;
  text-decoration: none;
  margin-right: 5px;
}
.xc-td-text-img {
  margin-right: 5px;
  width: 20px;
  height: 20px;
  vertical-align: middle;
}
.xc-td-text-input {
  display: none;
  width: 90%;
  height: 30px;
  line-height: 30px;
  border: 1px solid #dcdfe6;
  border-radius: 4px;
  text-indent: 6px;
  background: none;
  outline: none;
  font-size: inherit;
}
.xc-td-input{
  width: 100px;
  height: 28px;
  line-height: 26px;
  border: 1px solid #dcdfe6;
  border-radius: 4px;
  background: unset;
  padding:0 10px;
  margin:0 8px;
  outline: none;
  font-size: inherit;
}
.xc-td-input:hover{
  border-color: #c0c4cc;
}
.xc-td-btn {
  margin: 0 5px;
  padding: 4px 8px;
  border: 1px solid #b3d8ff;
  border-radius: 4px;
  background: #fff;
  color: #2185d0;
  cursor: pointer;
  outline: none;
  font-size: inherit;
}
.xc-td-btn:hover {
  border: 1px solid #409eff;
  color: #409eff;
}
.xc-td-btn.link-style {
  border: none;
  padding: 5px;
  background: none;
}
.xc-td-btn.link-style:hover {
  text-decoration: underline;
}
.xc-td-btn.forbid {
  cursor: not-allowed;
  border: 1px solid #d3d4d6;
  color: #909399;
  background: #f4f4f5;
}
.xc-td-btn.link-style.forbid {
  border: none;
  padding: 5px;
  background: none;
  text-decoration: none;
}
.xc-td-btn-icon {
  margin-right: 2px;
  vertical-align: middle;
}
.xc-td-merge {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: transparent;
  padding: 0 10px;
  box-sizing: border-box;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  word-break: break-all;
  font: inherit;
  color: inherit;
  text-align: inherit;
  z-index: 2;
}
.horizontal-border .xc-td-merge {
  border-bottom: 1px solid #ebeef5;
}
/* 排序 */
.xc-sort {
  position: relative;
  height: 12px;
  width: 12px;
  margin-left: 5px;
  vertical-align: middle;
  cursor: pointer;
  display: inline-flex;
}
.xc-sort-icon {
  width: 0;
  height: 0;
  border: 5px solid transparent;
  position: absolute;
  left: 0;
}
.xc-sort-icon.asc {
  border-bottom-color: #c0c4cc;
  top: -5px;
}
.xc-sort-icon.desc {
  border-top-color: #c0c4cc;
  bottom: -5px;
}
.xc-sort-th.asc .xc-sort-icon.asc {
  border-bottom-color: #409eff;
}
.xc-sort-th.desc .xc-sort-icon.desc {
  border-top-color: #409eff;
}
/* 多选列 */
.xc-chk-cell {
  position: absolute;
  top: 0;
  height: 100%;
  border-bottom: inherit;
  border-right: inherit;
  background: inherit;
  box-sizing: content-box;
}
.xc-chk-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 14px;
  height: 14px;
  border: 1px solid #dcdfe6;
  border-radius: 2px;
  background: #fff;
  margin-right: 5px;
  vertical-align: text-bottom;
  cursor: pointer;
  box-sizing: border-box;
  transition: border-color .25s cubic-bezier(.71, -.46, .29, 1.46), background-color .25s cubic-bezier(.71, -.46, .29, 1.46);
}
.xc-chk-box:hover {
  border-color: #409eff;
}
.xc-chk-box:after {
  box-sizing: content-box;
  content: "";
  border: 1px solid #fff;
  border-left: 0;
  border-top: 0;
  height: 7px;
  left: 4px;
  position: absolute;
  top: 1px;
  transform: rotate(45deg) scaleY(0);
  width: 3px;
  transition: transform .15s ease-in .05s;
  transform-origin: center;
}
.xc-chk-box.checked,
.xc-chk-box.indeterminate {
  background-color: #409eff;
  border-color: #409eff;
}
.xc-chk-box.checked:after {
  transform: rotate(45deg) scaleY(1);
}
.xc-chk-box.indeterminate:before {
  content: "";
  position: absolute;
  display: block;
  background-color: #fff;
  height: 2px;
  transform: scale(.5);
  left: 0;
  right: 0;
  top: 5px;
}
.forbid-select .xc-chk-box {
  cursor: not-allowed;
  background: #EAF0F2;
}
.forbid-select .xc-chk-box:hover {
  border-color: #dcdfe6;
}
/* 开关 */
.xc-switch {
  position: relative;
  display: inline-block;
  height: 28px;
  box-sizing: border-box;
  border-radius: 15px;
  cursor: pointer;
  line-height: 28px;
}
.xc-switch-true,
.xc-switch-false {
  position: relative;
  display: inline-block;
  width: auto;
  height: 28px;
  line-height: 28px;
  padding: 0 12px;
  border-radius: 14px;
  color: #fff;
  box-sizing: border-box;
}
.xc-switch-true {
  background: #2d8cf0;
  padding-right: 31px;
  display: none;
}
.xc-switch-false {
  background: #666666;
  padding-left: 31px;
}
.xc-switch-icon {
  position: absolute;
  top: 4px;
  left: 4px;
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background: #fff;
  z-index: 2;
}
.xc-switch.open .xc-switch-true {
  display: inline-block;
}
.xc-switch.open .xc-switch-false {
  display: none;
}
/* 固定列 */
.xc-fix-th {
  position: absolute;
  top: 0;
  z-index: 4;
  display: table;
  border: none;
  padding: 0;
  /* border-bottom: 1px solid #ebeef5; */
  background: #f5f7fa;
  height: 32px;
  /* line-height: 32px; */
  font-weight: inherit;
  text-decoration: inherit;
}
.vertical-border .xc-th-head>tr>th {
  border-right: 1px solid #ebeef5;
  /* border-left: 1px solid transparent; */
}
.xc-fix-th .xc-th-cell {
  display: table-cell;
  vertical-align: middle;
}
.xc-fix-th.last {
  box-shadow: 0 0 10px rgba(0, 0, 0, .12);
}
.xc-fix-td {
  position: absolute;
  top: 0;
  z-index: 3;
  overflow: hidden;
}
.xc-fix-td.last {
  box-shadow: 0 0 10px rgba(0, 0, 0, .12);
}
.xc-fix-td.last .xc-td {
  position: absolute;
  top: 0;
  right: 0;
}
/* 空白行 */
.xc-tr-blank .xc-tr-blank-td{
  padding:0;
  background: none;
}
.xc-tr-blank .xc-tr-blank-td:hover{
  background: none;
}
.xc-tr-blank-div{
  position: relative;
  width:100%;
}
/* 下拉框 */
.xc-td-cell .vp-select-container{
  line-height: 28px;
}